.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.header-title{
    background-color: rgb(54, 164, 179);
    border-radius: 5px;
    margin-bottom: 20px;
}
#searchArea{
    background-color: rgb(100, 189, 201);
    border-radius: 5px;
    padding-top: 5px;

}

#searchBtn{
    margin-bottom: 10px;
}

#resentCityDay{
    background-color: rgb(100, 189, 201);
    border-radius: 5px;
    padding-top: 5px;
}

.cityHistory{
    margin-bottom: 10px;
    
}

#savedCity{
    width: 250px;
}
.forecast{
    width: 135px;
    height: 135px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}