.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.header-title{
    background-color: rgb(54, 164, 179);
    border-radius: 5px;
    margin-bottom: 20px;
}
#searchArea{
    background-color: rgb(100, 189, 201);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 5px;

}

#searchBtn{
    margin-bottom: 10px;
}

#resentCityDay{
    background-color: rgb(124, 199, 209);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
}

.cityHistory{
    margin-bottom: 10px;
    
}

#savedCity{
    width: 250px;
}
.forecast{
    width: 135px;
    height: 175px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 8px;
    float: left;
}

.iconBg{
    background-color: lightgray;
    border-radius: 3px;
}

.uvSevere{
    background-color: red;
    width: 125px;
    border-radius: 3px;
}

.uvModerate{
    background-color: orange;
    width: 125px;
    border-radius: 3px;
}
.uvFavorable{
    background-color: yellow;
    width: 125px;
    border-radius: 3px;
}
.uvLow{
    background-color: green;
    width: 125px;
    border-radius: 3px;
}